In [1]:
import warnings
import pandas as pd 
import numpy as np
import sys
sys.path.append("..")
warnings.filterwarnings('ignore')
from Scripts.Data_cleaning import load_data,clean_data

###### Load datasets

In [2]:
sample_data = load_data('../data/sample_submission.csv')
store_data = load_data('../data/store.csv')
train_data = load_data('../data/train.csv')
test_data = load_data('../data/test.csv')

In [3]:
sample_data.head()

   Id  Sales
0   1      0
1   2      0
2   3      0
3   4      0
4   5      0

In [4]:
store_data.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [5]:
train_data.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [6]:
test_data.head()

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

### Perform Descriptive analytics

In [33]:
def descriptive(df):
    df = clean_data(df)
    info_ = df.descriptive_statistics(info=True)
    print(info_)
    print('*'*50)
    shape_ = df.descriptive_statistics(shape=True)
    print(shape_)
    print('*'*50)
    stats = df.descriptive_statistics(describe=True),
    print(stats)
    print('*'*50)
    Missing_values = df.descriptive_statistics(missing_values=True)
    print(Missing_values)
    print('*'*50)

###### store data

In [35]:
descriptive(store_data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB
None
**************************************************
(1115, 10)
**************************************************
(            Store  CompetitionDistance  CompetitionOpenSinceMonth  \
count  1115.00000          1112.000000                 761.000000
mean    558.00000          5404.901079                   7.224704
std     322.01708          7663.174720                   3.212348
min       1.00000            20.000000                   1.000000
25%     279.50000           717.500000                   4.000000
50%     558.00000          2325.000000                   8.000000
75%     836.50000          6882.500000                  10.000000
max    1115.00000         75860.000000                  12.000000

       CompetitionOpenSinceYear       Promo2  Promo2SinceWeek  Promo2SinceYear
count                761.000000  1115.000000       571.000000       571.000000
mean                2008.668857     0.512108        23.595447      2011.763573
std                    6.195983     0.500078        14.141984         1.674935
min                 1900.000000     0.000000         1.000000      2009.000000
25%                 2006.000000     0.000000        13.000000      2011.000000
50%                 2010.000000     1.000000        22.000000      2012.000000
75%                 2013.000000     1.000000        37.000000      2013.000000
max                 2015.000000     1.000000        50.000000      2015.000000  ,)
**************************************************
Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64
**************************************************

###### train_data

In [36]:
descriptive(train_data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB
None
**************************************************
(1017209, 9)
**************************************************
(              Store     DayOfWeek         Sales     Customers          Open  \
count  1.017209e+06  1.017209e+06  1.017209e+06  1.017209e+06  1.017209e+06
mean   5.584297e+02  3.998341e+00  5.773819e+03  6.331459e+02  8.301067e-01
std    3.219087e+02  1.997391e+00  3.849926e+03  4.644117e+02  3.755392e-01
min    1.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    2.800000e+02  2.000000e+00  3.727000e+03  4.050000e+02  1.000000e+00
50%    5.580000e+02  4.000000e+00  5.744000e+03  6.090000e+02  1.000000e+00
75%    8.380000e+02  6.000000e+00  7.856000e+03  8.370000e+02  1.000000e+00
max    1.115000e+03  7.000000e+00  4.155100e+04  7.388000e+03  1.000000e+00

              Promo  SchoolHoliday
count  1.017209e+06   1.017209e+06
mean   3.815145e-01   1.786467e-01
std    4.857586e-01   3.830564e-01
min    0.000000e+00   0.000000e+00
25%    0.000000e+00   0.000000e+00
50%    0.000000e+00   0.000000e+00
75%    1.000000e+00   0.000000e+00
max    1.000000e+00   1.000000e+00  ,)
**************************************************
Store            0
DayOfWeek        0
Date             0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64
**************************************************

###### test data

In [37]:
descriptive(test_data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41088 entries, 0 to 41087
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             41088 non-null  int64
 1   Store          41088 non-null  int64
 2   DayOfWeek      41088 non-null  int64
 3   Date           41088 non-null  object
 4   Open           41077 non-null  float64
 5   Promo          41088 non-null  int64
 6   StateHoliday   41088 non-null  object
 7   SchoolHoliday  41088 non-null  int64
dtypes: float64(1), int64(5), object(2)
memory usage: 2.5+ MB
None
**************************************************
(41088, 8)
**************************************************
(                 Id         Store     DayOfWeek          Open         Promo  \
count  41088.000000  41088.000000  41088.000000  41077.000000  41088.000000
mean   20544.500000    555.899533      3.979167      0.854322      0.395833
std    11861.228267    320.274496      2.015481      0.352787      0.489035
min        1.000000      1.000000      1.000000      0.000000      0.000000
25%    10272.750000    279.750000      2.000000      1.000000      0.000000
50%    20544.500000    553.500000      4.000000      1.000000      0.000000
75%    30816.250000    832.250000      6.000000      1.000000      1.000000
max    41088.000000   1115.000000      7.000000      1.000000      1.000000

       SchoolHoliday
count   41088.000000
mean        0.443487
std         0.496802
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000  ,)
**************************************************
Id                0
Store             0
DayOfWeek         0
Date              0
Open             11
Promo             0
StateHoliday      0
SchoolHoliday     0
dtype: int64
**************************************************