In [1]:
import warnings
import pandas as pd 
import numpy as np
import sys
sys.path.append("..")
warnings.simplefilter("ignore")
from Scripts.Data_cleaning import load_data,clean_data
from Scripts.data_visualization import Data_visualiz

###### Load datasets

In [2]:
sample_data = load_data('../data/sample_submission.csv')
store_data = load_data('../data/store.csv')
train_data = load_data('../data/train.csv')
test_data = load_data('../data/test.csv')

In [3]:
store = clean_data(store_data)
train = clean_data(train_data)
test = clean_data(test_data)

In [4]:
sample_data.head()

   Id  Sales
0   1      0
1   2      0
2   3      0
3   4      0
4   5      0

In [5]:
store_data.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [6]:
train_data.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [7]:
test_data.head()

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

### Perform Descriptive analytics

In [8]:
def descriptive(df):
    df = clean_data(df)
    info_ = df.descriptive_statistics(info=True)
    print(info_)
    print('*'*50)
    shape_ = df.descriptive_statistics(shape=True)
    print(shape_)
    print('*'*50)
    stats = df.descriptive_statistics(describe=True),
    print(stats)
    print('*'*50)
    Missing_values = df.descriptive_statistics(missing_values=True)
    print(Missing_values)
    print('*'*50)

###### store data

In [9]:
descriptive(store_data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB
None
**************************************************
(1115, 10)
**************************************************
(            Store  CompetitionDistance  CompetitionOpenSinceMonth  \
count  1115.00000          1112.000000                 761.000000
mean    558.00000          5404.901079                   7.224704
std     322.01708          7663.174720                   3.212348
min       1.00000            20.000000                   1.000000
25%     279.50000           717.500000                   4.000000
50%     558.00000          2325.000000                   8.000000
75%     836.50000          6882.500000                  10.000000
max    1115.00000         75860.000000                  12.000000

       CompetitionOpenSinceYear       Promo2  Promo2SinceWeek  Promo2SinceYear
count                761.000000  1115.000000       571.000000       571.000000
mean                2008.668857     0.512108        23.595447      2011.763573
std                    6.195983     0.500078        14.141984         1.674935
min                 1900.000000     0.000000         1.000000      2009.000000
25%                 2006.000000     0.000000        13.000000      2011.000000
50%                 2010.000000     1.000000        22.000000      2012.000000
75%                 2013.000000     1.000000        37.000000      2013.000000
max                 2015.000000     1.000000        50.000000      2015.000000  ,)
**************************************************
Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64
**************************************************

###### train_data

In [10]:
descriptive(train_data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB
None
**************************************************
(1017209, 9)
**************************************************
(              Store     DayOfWeek         Sales     Customers          Open  \
count  1.017209e+06  1.017209e+06  1.017209e+06  1.017209e+06  1.017209e+06
mean   5.584297e+02  3.998341e+00  5.773819e+03  6.331459e+02  8.301067e-01
std    3.219087e+02  1.997391e+00  3.849926e+03  4.644117e+02  3.755392e-01
min    1.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    2.800000e+02  2.000000e+00  3.727000e+03  4.050000e+02  1.000000e+00
50%    5.580000e+02  4.000000e+00  5.744000e+03  6.090000e+02  1.000000e+00
75%    8.380000e+02  6.000000e+00  7.856000e+03  8.370000e+02  1.000000e+00
max    1.115000e+03  7.000000e+00  4.155100e+04  7.388000e+03  1.000000e+00

              Promo  SchoolHoliday
count  1.017209e+06   1.017209e+06
mean   3.815145e-01   1.786467e-01
std    4.857586e-01   3.830564e-01
min    0.000000e+00   0.000000e+00
25%    0.000000e+00   0.000000e+00
50%    0.000000e+00   0.000000e+00
75%    1.000000e+00   0.000000e+00
max    1.000000e+00   1.000000e+00  ,)
**************************************************
Store            0
DayOfWeek        0
Date             0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64
**************************************************

###### test data

In [11]:
descriptive(test_data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41088 entries, 0 to 41087
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             41088 non-null  int64
 1   Store          41088 non-null  int64
 2   DayOfWeek      41088 non-null  int64
 3   Date           41088 non-null  object
 4   Open           41077 non-null  float64
 5   Promo          41088 non-null  int64
 6   StateHoliday   41088 non-null  object
 7   SchoolHoliday  41088 non-null  int64
dtypes: float64(1), int64(5), object(2)
memory usage: 2.5+ MB
None
**************************************************
(41088, 8)
**************************************************
(                 Id         Store     DayOfWeek          Open         Promo  \
count  41088.000000  41088.000000  41088.000000  41077.000000  41088.000000
mean   20544.500000    555.899533      3.979167      0.854322      0.395833
std    11861.228267    320.274496      2.015481      0.352787      0.489035
min        1.000000      1.000000      1.000000      0.000000      0.000000
25%    10272.750000    279.750000      2.000000      1.000000      0.000000
50%    20544.500000    553.500000      4.000000      1.000000      0.000000
75%    30816.250000    832.250000      6.000000      1.000000      1.000000
max    41088.000000   1115.000000      7.000000      1.000000      1.000000

       SchoolHoliday
count   41088.000000
mean        0.443487
std         0.496802
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000  ,)
**************************************************
Id                0
Store             0
DayOfWeek         0
Date              0
Open             11
Promo             0
StateHoliday      0
SchoolHoliday     0
dtype: int64
**************************************************

##### remove outliers

In [12]:
store.fix_outliers(store_data,['CompetitionDistance','CompetitionOpenSinceYear'])

      CompetitionDistance  CompetitionOpenSinceYear
0                  1270.0                    2008.0
1                   570.0                    2007.0
2                 14130.0                    2006.0
3                   620.0                    2009.0
4                  2325.0                    2010.0
...                   ...                       ...
1110               1900.0                    2014.0
1111               1880.0                    2006.0
1112               9260.0                       NaN
1113                870.0                       NaN
1114               5350.0                       NaN

[1115 rows x 2 columns]

In [13]:
train.fix_outliers(train_data,['Sales','Customers'])

          Sales  Customers
0        5263.0      555.0
1        6064.0      625.0
2        8314.0      821.0
3        5744.0      609.0
4        4822.0      559.0
...         ...        ...
1017204     0.0        0.0
1017205     0.0        0.0
1017206     0.0        0.0
1017207     0.0        0.0
1017208     0.0        0.0

[1017209 rows x 2 columns]

##### handling missing values

In [14]:
store_data[store_data['Promo2']==0]

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,2325.0,4.0,2010.0,0,NaN,NaN,NaN
5,6,a,a,310.0,12.0,2013.0,0,NaN,NaN,NaN
6,7,a,c,2325.0,4.0,2013.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1107,1108,a,a,540.0,4.0,2004.0,0,NaN,NaN,NaN
1109,1110,c,c,900.0,9.0,2010.0,0,NaN,NaN,NaN
1111,1112,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1112,1113,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1113,1114,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN

based on the table above where we have promo2 is equal to 0 means that store is not participating, the last three columns should be null. So that handle missing values we can replace by them by 0 means that they are not available

In [15]:
store.filling_nan(store_data,['Promo2SinceWeek','Promo2SinceYear',],0)

In [16]:
#handling interval column
store.filling_nan(store_data,['PromoInterval'],"0,0,0,0") #we have to replace with four zeros since we have four variables

In [17]:
#recheck for nan values in store_data
store_data.isna().sum()

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek                0
Promo2SinceYear                0
PromoInterval                  0
dtype: int64

for the CompetitionOpenSinceMonth and CompetitionOpenSinceYear columns is not the same since we have some rows with 1 in the promo2. let us check

In [18]:
store_data[store_data['CompetitionOpenSinceYear'].isna()].head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
11,12,a,c,1070.0,NaN,NaN,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
12,13,d,a,310.0,NaN,NaN,1,45.0,2009.0,"Feb,May,Aug,Nov"
15,16,a,c,3270.0,NaN,NaN,0,0.0,0.0,"0,0,0,0"
18,19,a,c,3240.0,NaN,NaN,1,22.0,2011.0,"Mar,Jun,Sept,Dec"
21,22,a,a,1040.0,NaN,NaN,1,22.0,2012.0,"Jan,Apr,Jul,Oct"

we can see that for the first two rows, the store is starting but we have null values in `CompetitionOpenSinceMonth` and `CompetitionOpenSinceYear`. Therefore, we can impute the missing values by filling with minimun values since that nan values might be due to the fact there were already the competition since the store open

In [19]:
store.filling_nan(store_data,['CompetitionOpenSinceMonth'],store_data.CompetitionOpenSinceMonth.min())
store.filling_nan(store_data,['CompetitionOpenSinceYear'],store_data.CompetitionOpenSinceYear.min())

In [20]:
store_data.isna().sum()

Store                        0
StoreType                    0
Assortment                   0
CompetitionDistance          3
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
Promo2SinceWeek              0
Promo2SinceYear              0
PromoInterval                0
dtype: int64

for the CompetitionDistance column, 3 rows don't count much on the whole dataset, so we might drop them. Which is the same to the test data, the percentage of missing value is very small

In [21]:
store.drop_rows(store_data)

In [22]:
store_data.isna().sum()

Store                        0
StoreType                    0
Assortment                   0
CompetitionDistance          0
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
Promo2SinceWeek              0
Promo2SinceYear              0
PromoInterval                0
dtype: int64

In [23]:
test.drop_rows(test_data)

In [24]:
test_data.isna().sum()

Id               0
Store            0
DayOfWeek        0
Date             0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64

##### handling columns type

In [25]:
# converting some columns to int 
store.convert_to_int(store_data,['CompetitionOpenSinceMonth','CompetitionOpenSinceYear','Promo2SinceWeek','Promo2SinceYear'])

In [26]:
store_data.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9,2008,0,0,0,"0,0,0,0"
1,2,a,a,570.0,11,2007,1,13,2010,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12,2006,1,14,2011,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9,2009,0,0,0,"0,0,0,0"
4,5,a,a,2325.0,4,2010,0,0,0,"0,0,0,0"

In [27]:
#convert date column to datetime in train and test data
train.convert_to_datetime(train_data,['Date'])
test.convert_to_datetime(test_data,['Date'])

In [28]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  datetime64[ns]
 3   Sales          1017209 non-null  float64
 4   Customers      1017209 non-null  float64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(5), object(1)
memory usage: 69.8+ MB

In [29]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41077 entries, 0 to 41087
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             41077 non-null  int64
 1   Store          41077 non-null  int64
 2   DayOfWeek      41077 non-null  int64
 3   Date           41077 non-null  datetime64[ns]
 4   Open           41077 non-null  float64
 5   Promo          41077 non-null  int64
 6   StateHoliday   41077 non-null  object
 7   SchoolHoliday  41077 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(1)
memory usage: 2.8+ MB

###### checking for duplicates

In [30]:
store_data.duplicated().sum()

0

In [31]:
train_data.duplicated().sum()

0

In [32]:
test_data.duplicated().sum()

0

no duplicates were found

###### transform date column

In [33]:
train.transform_columns(train_data,'Date')
test.transform_columns(test_data,'Date')

###### merge dataset

In [34]:
df1 = pd.merge(store_data,train_data,how='left',on='Store')
df2 = pd.merge(store_data,test_data,how='left',on='Store')

In [35]:
df1.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,...,Customers,Open,Promo,StateHoliday,SchoolHoliday,Days,months,Years,DayOfYear,WeekOfYear
0,1,c,a,1270.0,9,2008,0,0,0,"0,0,0,0",...,555.0,1,1,0,1,31,7,2015,212,31
1,1,c,a,1270.0,9,2008,0,0,0,"0,0,0,0",...,546.0,1,1,0,1,30,7,2015,211,31
2,1,c,a,1270.0,9,2008,0,0,0,"0,0,0,0",...,523.0,1,1,0,1,29,7,2015,210,31
3,1,c,a,1270.0,9,2008,0,0,0,"0,0,0,0",...,560.0,1,1,0,1,28,7,2015,209,31
4,1,c,a,1270.0,9,2008,0,0,0,"0,0,0,0",...,612.0,1,1,0,1,27,7,2015,208,31

In [36]:
df2.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,...,Date,Open,Promo,StateHoliday,SchoolHoliday,Days,months,Years,DayOfYear,WeekOfYear
0,1,c,a,1270.0,9,2008,0,0,0,"0,0,0,0",...,2015-09-17,1.0,1.0,0,0.0,17.0,9.0,2015.0,260.0,38.0
1,1,c,a,1270.0,9,2008,0,0,0,"0,0,0,0",...,2015-09-16,1.0,1.0,0,0.0,16.0,9.0,2015.0,259.0,38.0
2,1,c,a,1270.0,9,2008,0,0,0,"0,0,0,0",...,2015-09-15,1.0,1.0,0,0.0,15.0,9.0,2015.0,258.0,38.0
3,1,c,a,1270.0,9,2008,0,0,0,"0,0,0,0",...,2015-09-14,1.0,1.0,0,0.0,14.0,9.0,2015.0,257.0,38.0
4,1,c,a,1270.0,9,2008,0,0,0,"0,0,0,0",...,2015-09-13,0.0,0.0,0,0.0,13.0,9.0,2015.0,256.0,37.0

In [37]:
df1.shape

(1014567, 23)

In [38]:
df2.shape

(41250, 22)

In [39]:
df1.isna().sum()

Store                        0
StoreType                    0
Assortment                   0
CompetitionDistance          0
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
Promo2SinceWeek              0
Promo2SinceYear              0
PromoInterval                0
DayOfWeek                    0
Date                         0
Sales                        0
Customers                    0
Open                         0
Promo                        0
StateHoliday                 0
SchoolHoliday                0
Days                         0
months                       0
Years                        0
DayOfYear                    0
WeekOfYear                   0
dtype: int64

In [40]:
df2.isna().sum()

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            0
CompetitionOpenSinceMonth      0
CompetitionOpenSinceYear       0
Promo2                         0
Promo2SinceWeek                0
Promo2SinceYear                0
PromoInterval                  0
Id                           258
DayOfWeek                    258
Date                         258
Open                         258
Promo                        258
StateHoliday                 258
SchoolHoliday                258
Days                         258
months                       258
Years                        258
DayOfYear                    258
WeekOfYear                   258
dtype: int64

In [41]:
df2[df2['Date'].isna()].head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,...,Date,Open,Promo,StateHoliday,SchoolHoliday,Days,months,Years,DayOfYear,WeekOfYear
48,2,a,a,570.0,11,2007,1,13,2010,"Jan,Apr,Jul,Oct",...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,4,c,c,620.0,9,2009,0,0,0,"0,0,0,0",...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,5,a,a,2325.0,4,2010,0,0,0,"0,0,0,0",...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,6,a,a,310.0,12,2013,0,0,0,"0,0,0,0",...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
580,17,a,a,50.0,12,2005,1,26,2010,"Jan,Apr,Jul,Oct",...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

nan values correspond with observations whereby the didn't record date, so I dropped them

In [42]:
df2.dropna(inplace=True)

In [43]:
df2.isna().sum()

Store                        0
StoreType                    0
Assortment                   0
CompetitionDistance          0
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
Promo2SinceWeek              0
Promo2SinceYear              0
PromoInterval                0
Id                           0
DayOfWeek                    0
Date                         0
Open                         0
Promo                        0
StateHoliday                 0
SchoolHoliday                0
Days                         0
months                       0
Years                        0
DayOfYear                    0
WeekOfYear                   0
dtype: int64

###### checking for duplicates

In [44]:
df1.duplicated().sum()

0

In [45]:
df2.duplicated().sum()

0

In [46]:
df1.to_csv('../data/train-data.csv',index=False)
df2.to_csv('../data/test-data.csv',index=False)